[submodule "hiddify-sing-box"]
	path = hiddify-sing-box
	url = git@github.com:ShuttleSpace/hiddify-sing-box.git
[submodule "ray2sing"]
	path = ray2sing
	url = git@github.com:ShuttleSpace/ray2sing.git
